.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview {
    font-size: 50px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        to bottom left,
        var(--preview-color-gradient-left-bottom),
        var(--preview-color-gradient-right-top)
    );
    -webkit-background-clip: text;
}
