.popover {
    position: relative;
}

.cart {
    width: 40vw;
}

.buttonCartContainer {
    display: block;
}

.buttonCart {
    width: 200px;
    height: 25px;
    margin: 20px 0 0 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--button-cart-background-color);
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--button-cart-background-color--hover);
        transition: 0.3s ease-out;
    }
}

.buttonPopover {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: var(--button-popover-background-color);
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--button-popover-background-color--hover);
        transition: 0.3s ease-out;
    }
}

.countButton {
    position: absolute;
    left: 11.5rem;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 50%;
}
