:root {
    --background-color: #6495eda3;
    --background-color-hover: #6494ed;
}

.cartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--background-color);
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: var(--background-color-hover);
        transition: 0.3s ease-out;
    }
}
