.header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview {
    font-size: 50px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom left, #5ad1e6, #162b74);
    -webkit-background-clip: text;
}