.dropDown {
    width: 1rem;
}

.icon {
    margin: 20;
}

@media (max-width: 575px) {
    .icon {
        font-size: 30;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .icon {
        font-size: 50;
    }
}

@media (min-width: 768) and (max-width: 1199px) {
    .icon {
        font-size: 60;
    }
}

@media (min-width: 1200px) {
    .icon {
        font-size: 70;
    }
}
