:root {
    --select-background-color-hover: #20439bd9;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.4s ease-out;

    &:hover {
        color: white;
        background-color: var(--select-background-color-hover);
        transition: 0.4s ease-out;
    }
}
