.listItem {
    font-family: Roboto, 'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    padding: 15px;
    border: 2px solid rgb(13, 113, 184);
    border-radius: 6px;
    box-shadow: 9px 5px rgb(156 154 154 / 41%);
    transition: 0.3s ease-out;

    &:hover {
        box-shadow: 5px 2px rgb(156 154 154 / 41%);
        transition: 0.3s ease-out;
        transform: translate(8px, 5px);
    }
}

.titleBook {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.imageBook {
    margin: 20px;
    border: 1px solid black;
}
.publishedDate {
    margin-top: 10px;
}
.categoryBook {
    margin-top: 10px;
}

.buttonAdd {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #6495eda3;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #6494ed;
        transition: 0.3s ease-out;
    }
}

.buttonCounter {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    background-color: #64ef316f;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #83ef31b3;
        transition: 0.3s ease-out;
    }
}
