:root {
    --background-color: #6495eda3;
    --background-color-hover: #6494ed;
    --select-background-color-hover: #20439bd9;
    --list-item-border-color: rgb(13, 113, 184);
    --list-item-box-shadow-color: rgb(156 154 154 / 41%);
    --list-item-box-shadow-color--hover: rgb(156 154 154 / 41%);
    --image-border-color: black;
    --button-add-background-color: #6495eda3;
    --button-add-background-color--hover: #6494ed;
    --button-counter-background-color: #64ef316f;
    --button-counter-background-color--hover: #83ef31b3;
    --button-position-background: #244db4d9;
    --cart-item-border: rgb(37, 75, 200);
    --preview-color-gradient-left-bottom: #5ad1e6;
    --preview-color-gradient-right-top: #162b74;
    --button-cart-background-color: #64ef316f;
    --button-cart-background-color--hover: #83ef31b3;
    --button-popover-background-color: #244db4d9;
    --button-popover-background-color--hover: #3167efb3;
}
